
.header {
    padding: 20px;
    text-align: center;
    background-color: #80e583d2;
    border-radius: 8px;
  }
  
  .form {
    display: inline-block;
    position: relative;
  }
  
  .input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #1b8520;
  }
  